*.keras filter=lfs diff=lfs merge=lfs -text
output/models/*.keras filter=lfs diff=lfs merge=lfs -text
CustomCNNOutput/models/*.keras filter=lfs diff=lfs merge=lfs -text
FireNetCNNOutput/models/*.keras filter=lfs diff=lfs merge=lfs -text
